@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --Vermelho: #ff0000;
    --Preto: #1a1a1a;
    --Verde: #4d533c;
    --Vermelho-agencia: #cb0000;
    --Roxo-editora: #800080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html{
    scroll-behavior: smooth;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header.topo{
    padding: 20px 0;
    min-height: 500px;
    background-color: var(--Preto);
}

.logo{
    width: 100%;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.logo > span{
    color: var(--Vermelho);
}

.sobre-header{
    color: white;
    margin-top: 120px;
}

.sobre-header > h1{
    font-size: 40px;
    margin: 20px 0;
}

section.sobre{
    padding: 40px 0;
}

section.sobre > h2{
    width: 200px;
    height: 42px;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 30px;
    border-bottom: 2px solid var(--Vermelho);
}

section.sobre > a{
    display: block;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--Vermelho);
    color: white;
    padding: 13px 16px;
    border-radius: 8px;
}

section.sobre > a:hover{
    scale: 1.1;
    transition: 0.45s;
}

.apresentacao{
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
}

.descricao{
    width: 60%;
    padding: 10px 20px;
}

.descricao h2{
    color: var(--Vermelho);
    margin: 10px 0; 
    font-size: 30px;
}

.descricao p{
    color: var(--Verde);
    font-size: 19px;
    text-align: justify;
}   

.sobre-img{
    width: 40%;
}

.sobre-img img{
    max-width: 100%;
    width: 80%;
    border-radius: 20px;
    margin-left: 40px;
}

section.faq{
    padding: 50px 0;
}

#title{
    width: 410px;
    height: 42px;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 30px;
    border-bottom: 2px solid var(--Vermelho);
}

.cen{
    display: flex;
    justify-content: center;
}

.box-faq{
    margin: 0px 18px;
    margin-top: 80px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    width: 30%;
    min-height: 300px;
    padding: 30px 30px;
}

#agencia{
    box-shadow: 0px 0px 10px 5px var(--Vermelho-agencia);
}

#canal{
    box-shadow: 0px 0px 10px 5px var(--Vermelho);
}

#editora{
    box-shadow: 0px 0px 10px 5px var(--Roxo-editora);
    display: none;
}

.box-faq h2{
    font-size: 23px;
    padding: 10px 0;
}

.box-faq p{
    font-size: 15px;
    text-align: justify;
    color: var(--Verde);
}

.box-faq a{
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    background-color: var(--Vermelho);
    color: white;
    padding: 13px 16px;
    border-radius: 8px;
}

.box-faq a:hover{
    scale: 1.1;
    transition: 0.45s;
}

section.projetos{
    margin-top: 50px;
}

section.projetos > h2{
    width: 300px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 30px;
    border-bottom: 2px solid var(--Vermelho);
}

.projeto-single{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    box-shadow: 26px 26px 50px 0 rgba(0, 0, 0, 0.15);
}

.projeto-img{
    width: 50%;
    padding: 50px;
    background-color: var(--Vermelho);
}

.projeto-img img{
    max-width: 100%;
    width: 100%;
}

.projeto-descricao{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#proj{
    box-shadow: -26px 26px 50px 0 rgba(0, 0, 0, 0.15);
}

#proj1{
    width: 280px;
    text-align: center;
    border-bottom: 2px solid var(--Vermelho);
    margin: 15px; 
    font-size: 30px;
}  

#proj2{
    width: 180px;
    text-align: center;
    border-bottom: 2px solid var(--Vermelho);
    margin: 15px; 
    font-size: 30px;
}  

.projeto-descricao p{
    width: 80%;
    color: var(--Verde);
    font-size: 19px;
    text-align: justify;
}

.projeto-descricao a{
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    background-color: var(--Vermelho);
    color: white;
    padding: 13px 16px;
    border-radius: 8px;
}

.projeto-descricao a:hover{
    scale: 1.1;
    transition: 0.45s;
}

.chamado-git{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto ;
}

.chamado-git h3{
    font-size: 22px;
}

.chamado-git a{
    display: block;
    width: 200px;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--Vermelho);
    color: white;
    padding: 13px 16px;
    border-radius: 8px;
}

.chamado-git a:hover{
    scale: 1.1;
    transition: 0.45s;
}

.icon-github{
    font-size: 20px;
    margin-right: 5px;
}

/****SLICK SLIDER****/

.slick-dotted ul{
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top:10px;
}
   
.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}
   
.slick-dotted button:focus{
    outline: 0;
}
   
.slick-dotted li button{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}
   
li.slick-active button{
    background: var(--Vermelho);
    color: var(--Vermelho);
}
   
.slick-slide:focus { outline: none; }

/**END SLICK**/

.slider-box{
    margin: 10px auto;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}

section.certificados{
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certificados > h2{
    width: 220px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 30px;
    border-bottom: 2px solid var(--Vermelho);
}

.informacoes-certificados{
    width: 80%;
    height: 400px;
    display: inline-block;
    margin: 40px auto;
    justify-content: center;
}

.informacoes-certificados embed{
    width: 100%;
    height: 100%;
}

.informacoes-certificados p{
    text-align: center;
    margin: 20px auto;
    width: 80%;
    color: var(--Verde);
    font-size: 19px;
}

section.contato{
    padding: 40px 0;
}

section.contato .center{
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}

section.contato > h2{
    text-align: center;
    width: 320px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 30px;
    border-bottom: 2px solid var(--Vermelho);
}

.numeros-contato{
    width: 50%;
    padding: 0 30px;
}

.numeros-contato h3{
    color: var(--Vermelho);
    font-size: 25px;
}

.numeros-contato p{
    color: var(--Verde);
    font-size: 16px;
}

.form{
    width: 50%;
    padding: 0 20px;
}

.form p{
    font-size: 14px;
    font-weight: bold;
    color:var(--Verde);
}

.form input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.8);
    border: solid 1px #ededed;
    background-color: white;
}

.form textarea{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.8);
    border: solid 1px #ededed;
    background-color: white;
}

.form input[type="submit"]{
    width: 100%;
    height: 30px;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    background-color: var(--Vermelho);
}

footer{
    text-align: center;
    padding: 10px 0;
    background-color: var(--Preto);
    color: white;
}

.icons-menu{
    margin: 10px;
    cursor: pointer;
}

.icons-menu a{
    text-decoration: none;
    color: var(--Cinza);
    font-size: 25px;
    margin: 0 10px;
}

.icon-facebook-sign:hover{
    color: blue;
    transition: 0.5s;
}

.icon-instagram:hover{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s;
}

.icon-linkedin-sign:hover{
    color: #0a66c2;
    transition: 0.5s;
}

.icon-twitter:hover{
    color: #1DA1F2;
    transition: 0.5s;
}

/*Página Obrigado*/

.obrigado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.obrigado h1{
    color: var(--Vermelho);
    font-size: 38px;
    font-weight: 700;
}

.obrigado p{
    color: var(--Verde);
    font-size: 25px;
}


@media screen and (max-width: 1024px){    
    .sobre-img img{
        width: 100%;
        padding: 20px;
        border-radius: 40px;
    }
    .box-faq{
        width: 50%;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px){
    .apresentacao{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .descricao{
        width: 80%;
    }
    .sobre-img{
        width: 50%;
    }
    .sobre-img img{
        margin-left: 0px;
    }
    .trabalho-img,
    .wraper-descricao{
        width: 100%;
    }
    .box-faq{
        width: 70%;
        margin-right: 0;
    }
    .numeros-contato,
    .form{
        width: 100%;
        margin-bottom: 30px;
    }
}